@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-armchair-chair-streamline:before {
  content: "a";
}
.icon-arrow-streamline-target:before {
  content: "b";
}
.icon-backpack-streamline-trekking:before {
  content: "c";
}
.icon-bag-shopping-streamline:before {
  content: "d";
}
.icon-barbecue-eat-food-streamline:before {
  content: "e";
}
.icon-barista-coffee-espresso-streamline:before {
  content: "f";
}
.icon-bomb-bug:before {
  content: "g";
}
.icon-book-dowload-streamline:before {
  content: "h";
}
.icon-book-read-streamline:before {
  content: "i";
}
.icon-browser-streamline-window:before {
  content: "j";
}
.icon-brush-paint-streamline:before {
  content: "k";
}
.icon-bubble-comment-streamline-talk:before {
  content: "l";
}
.icon-bubble-love-streamline-talk:before {
  content: "m";
}
.icon-computer-macintosh-vintage:before {
  content: "n";
}
.icon-computer-imac-2:before {
  content: "o";
}
.icon-computer-imac:before {
  content: "p";
}
.icon-coffee-streamline:before {
  content: "q";
}
.icon-cocktail-mojito-streamline:before {
  content: "r";
}
.icon-clock-streamline-time:before {
  content: "s";
}
.icon-chef-food-restaurant-streamline:before {
  content: "t";
}
.icon-chaplin-hat-movie-streamline:before {
  content: "u";
}
.icon-camera-streamline-video:before {
  content: "v";
}
.icon-camera-photo-streamline:before {
  content: "w";
}
.icon-camera-photo-polaroid-streamline:before {
  content: "x";
}
.icon-caddie-shopping-streamline:before {
  content: "y";
}
.icon-caddie-shop-shopping-streamline:before {
  content: "z";
}
.icon-computer-network-streamline:before {
  content: "A";
}
.icon-computer-streamline:before {
  content: "B";
}
.icon-cook-pan-pot-streamline:before {
  content: "C";
}
.icon-crop-streamline:before {
  content: "D";
}
.icon-crown-king-streamline:before {
  content: "E";
}
.icon-danger-death-delete-destroy-skull-stream:before {
  content: "F";
}
.icon-dashboard-speed-streamline:before {
  content: "G";
}
.icon-database-streamline:before {
  content: "H";
}
.icon-delete-garbage-streamline:before {
  content: "I";
}
.icon-design-graphic-tablet-streamline-tablet:before {
  content: "J";
}
.icon-design-pencil-rule-streamline:before {
  content: "K";
}
.icon-diving-leisure-sea-sport-streamline:before {
  content: "L";
}
.icon-drug-medecine-streamline-syringue:before {
  content: "M";
}
.icon-handle-streamline-vector:before {
  content: "N";
}
.icon-grid-lines-streamline:before {
  content: "O";
}
.icon-frame-picture-streamline:before {
  content: "P";
}
.icon-food-ice-cream-streamline:before {
  content: "Q";
}
.icon-first-aid-medecine-shield-streamline:before {
  content: "R";
}
.icon-factory-lift-streamline-warehouse:before {
  content: "S";
}
.icon-eye-dropper-streamline:before {
  content: "T";
}
.icon-envellope-mail-streamline:before {
  content: "U";
}
.icon-email-mail-streamline:before {
  content: "V";
}
.icon-edit-modify-streamline:before {
  content: "W";
}
.icon-eat-food-hotdog-streamline:before {
  content: "X";
}
.icon-eat-food-fork-knife-streamline:before {
  content: "Y";
}
.icon-earth-globe-streamline:before {
  content: "Z";
}
.icon-happy-smiley-streamline:before {
  content: "0";
}
.icon-headset-sound-streamline:before {
  content: "1";
}
.icon-home-house-streamline:before {
  content: "2";
}
.icon-ibook-laptop:before {
  content: "3";
}
.icon-ink-pen-streamline:before {
  content: "4";
}
.icon-ipad-streamline:before {
  content: "5";
}
.icon-iphone-streamline:before {
  content: "6";
}
.icon-ipod-mini-music-streamline:before {
  content: "7";
}
.icon-ipod-music-streamline:before {
  content: "8";
}
.icon-ipod-streamline:before {
  content: "9";
}
.icon-japan-streamline-tea:before {
  content: "!";
}
.icon-laptop-macbook-streamline:before {
  content: "\"";
}
.icon-like-love-streamline:before {
  content: "#";
}
.icon-music-speaker-streamline:before {
  content: "$";
}
.icon-music-note-streamline:before {
  content: "%";
}
.icon-monocle-mustache-streamline:before {
  content: "&";
}
.icon-micro-record-streamline:before {
  content: "'";
}
.icon-map-streamline-user:before {
  content: "(";
}
.icon-map-pin-streamline:before {
  content: ")";
}
.icon-man-people-streamline-user:before {
  content: "*";
}
.icon-magnet-streamline:before {
  content: "+";
}
.icon-magic-magic-wand-streamline:before {
  content: ",";
}
.icon-macintosh:before {
  content: "-";
}
.icon-locker-streamline-unlock:before {
  content: ".";
}
.icon-lock-locker-streamline:before {
  content: "/";
}
.icon-link-streamline:before {
  content: ":";
}
.icon-notebook-streamline:before {
  content: ";";
}
.icon-paint-bucket-streamline:before {
  content: "<";
}
.icon-painting-pallet-streamline:before {
  content: "=";
}
.icon-painting-roll-streamline:before {
  content: ">";
}
.icon-pen-streamline:before {
  content: "?";
}
.icon-pen-streamline-1:before {
  content: "@";
}
.icon-pen-streamline-2:before {
  content: "[";
}
.icon-pen-streamline-3:before {
  content: "]";
}
.icon-photo-pictures-streamline:before {
  content: "^";
}
.icon-picture-streamline:before {
  content: "_";
}
.icon-picture-streamline-1:before {
  content: "`";
}
.icon-receipt-shopping-streamline:before {
  content: "{";
}
.icon-remote-control-streamline:before {
  content: "|";
}
.icon-streamline-umbrella-weather:before {
  content: "}";
}
.icon-streamline-sync:before {
  content: "~";
}
.icon-streamline-suitcase-travel:before {
  content: "\";
}
.icon-stamp-streamline:before {
  content: "\e000";
}
.icon-speech-streamline-talk-user:before {
  content: "\e001";
}
.icon-shoes-snickers-streamline:before {
  content: "\e002";
}
.icon-settings-streamline-2:before {
  content: "\e003";
}
.icon-settings-streamline-1:before {
  content: "\e004";
}
.icon-settings-streamline:before {
  content: "\e005";
}
